@import 'tailwindcss';

html, body {
	height: 100%;
}

body {
	background-color: var(--color-zinc-950);
	color: var(--color-zinc-100);
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: border-box;
}
